
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polylines</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  </head>
  <body>

  <a href="/users/new" class="btn btn-primary">Sign Up</a>

<h1>Location crap</h1>
<p><button onclick="getLocationData()" class="btn btn-danger"> Get location</button></p>

<p><%= form_for :location do |f| %></p>
  <p><%= f.label :latitude, "Latitude" %>
  <%= f.text_field :latitude %></p>
  <p><%= f.label :longitude, "Longitude" %>
  <%= f.text_field :longitude %></p>
  <p><%= f.submit "Submit", :disable_with => 'Submiting...', class:"btn btn-danger" %></p>
<% end %>


<table>
<tr>
<th>Id</th>
  <th>Latitude</th>
  <th>Longitude</th>
</tr>
<% @locations.each do |loc| %>
<tr>
  <td><%= loc.id %></td>
  <td><%= loc.latitude %></td>
  <td><%= loc.longitude %></td>
</tr>
<% end %>
</table>
<h1>Map</h1>
<!-- <script type="text/javascript" src="ejs_production.ejs"></script> -->
    <div id="map-canvas"></div>
  </body>
</html>